# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test & coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Others
*.sqlite3
*.db